[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
backoff = "*"
websockets = "*"
pydantic = "*"
pyyaml = "*"
wxc-sdk = {git = "https://github.com/jeokrohn/wxc_sdk"}

[dev-packages]

[requires]
python_version = "3.9"
